<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body class="max-width mx-auto px3 ltr">
  <div class="content index py4">

    {{ partial "header.html" . }}

    {{ block "main" . }}
    {{ end }}

    {{ partial "footer.html" . }}

  </div>
</body>

<link rel="stylesheet" rel="preload" href={{ "https://cdn.staticfile.org/font-awesome/6.2.0/css/all.min.css" | relURL }}>
<script src={{ "https://cdn.staticfile.org/jquery/3.6.1/jquery.min.js" | relURL }} defer></script>
<script src={{ "js/main.js" | relURL }} defer></script>
<script src="https://cdn.staticfile.org/instant.page/5.1.1/instantpage.min.js" async></script>
</html>
